.loginPage {
    display: grid;
    grid-template-areas: 
    'form collage'
    'form  collage'
    'button collage'
    'button collage';
}


.loginForm {
    grid-area: form;
}

.signUpButton {
    grid-area: button;

}

.podcastCollage {
    grid-area: collage;
    margin: 0px 0px 0px 50px;
    padding: 0px;


}